.formLivro{
margin: 50px;
}
.formLogin .col-12 {
    margin-right: 25%;
    margin-left: 25%;
}
.formLogin .col-md-6{
    margin-right: 25%;
    margin-left: 25%;
}
.formLogin .btn{
    margin-right: 410px;
}